/* VARIABLES GLOBALES */

:root {
	--color-oceania: #656DE2;
	--color-light: #E5E5E5;
	--color-dark: #3D3D3D;
	--color-gray: #7B7B7B;
	--color-star: #F39C12;
	--color-oceania_light:#656de2c9;
	--color-gray_light: #959CA1;
	--color-star: #f39d12c9;
}

/* STILOS GLOBALES */

body {
	background-color: var(--color-light);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: var(--color-dark);
}

h1 {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.title {
	font-size: 20px;
}

.subtitle {
	font-size: 16px;
}

.btn-main {
	background-color: var(--color-oceania);
	color: var(--color-light);
	border: solid 1px var(--color-oceania);
}
.btn-main:hover {
	background-color: var(--color-oceania_light);
	border: solid 1px var(--color-oceania_light);
}

.btn-secondary {
	background-color: var(--color-light);
	color: var(--color-oceania);
	border: solid 1px var(--color-oceania);
}
.btn-secondary:hover {
	color: var(--color-oceania_light);
	border: solid 1px var(--color-oceania_light);
}

.fa-star {
	color: var(--color-star)
}

  /* SCROLLBAR */

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-oceania);
    border-radius: 2px;
    transition: .2s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #656de2c9;
  }

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}